@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

a:hover {
    color: white;
}

nav {
    width: 100%;
    height: 80px;
    position: absolute;
    color: #909DA0;
}

.nav-content-container {
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    
}

.nav-content-container img {
    align-self: center;
    margin-left: 15px;
    z-index: 1;
}

.main-menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 50px;
}

.main-menu li {
    transition: 1s;
    font-size: 20px;
    margin: 0px 15px;
    cursor: pointer;
}



.menu-controller {
    display: none;
    cursor: pointer;
    margin: 20px;
    z-index: 1;
}

.nav-content-container li:hover {
    font-size: 22px;
    padding: 0px 10px;
    margin-bottom: 1px;
    color: white;
}

@media(max-width: 800px) {
    .main-menu {
        height: 18%;
        position: fixed;
        padding-top: 30px;
        top: 0;
        left: 100px; /* Ezt majd olyan szélesre kell állítani, hogy a logót ne takarja */
        right: 0;
        z-index: 0;
        flex-direction: column;
        justify-content: center;
        transition: top 1s ease;
        display: none;
        background-color: #343A40;
        opacity: 90%;
        border-radius: 0px 0px 0px 10px;
    }

    .menu-controller {
        display: block;
    }

    .nav-content-container {
        justify-content: space-between;
    }

    .nav-content-container li {
        transition: none !important;
        margin: 5px 0px;
    }

    .nav-content-container li:hover {
        font-size: 20px;
        padding: 0px 10px;
        margin-bottom: 5px;
        color: #909DA0;
    }
}



main {
    max-width: 1200px;
    margin: 0px auto;
}



.slider {
	overflow: hidden;
    z-index: -2;
}
.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
    z-index: -2;
}
.slider figure img {
	width: 20%;
	float: left;
    z-index: -2;
    object-fit: cover;
    height: 40vw;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}


.introdouce {
    font-size: 25px;
    color: #222222;
    background-color: #E9ECEF;
    padding: 60px 40px 70px 40px;
}

.introdouce p {
    display: inline;
}

.introdouce button {
    color: gray;
    float: right;
    font-size: 25px;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-right: 55px;
    border-radius: 8px;
    background-color: #E9ECEF;
    border: none;
    border: 1px solid gray;
    transition: 0.2s;
}

.introdouce button:hover {
    color: whitesmoke;
    background-color: gray;
    cursor: pointer;
}

.welcome-section {
    margin-top: 50px;
}

.welcome-section .message {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 50px;
}

.welcome-section h1 {
    font-size: 50px;
    font-weight: 100;
}

.welcome-section .message hr {
    color: lightgray;
}

.welcome-section .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.welcome-section .grid-container .first-el {
    width: 33%;
}

.welcome-section .grid-container .second-el {
    width: 33%;
}

.welcome-section .grid-container .third-el {
    width: 33%;
}

@media(max-width: 1200px) {
    .welcome-section .grid-container .first-el {
    width: initial
    }

    .welcome-section .grid-container .second-el {
        width: initial;
    }

    .welcome-section .grid-container .third-el {
        width: initial;
    }
}
.logo{
    width: 25%;
    padding-top: 50px;
}
